.container-score {
  box-sizing: border-box;
  width: 50px;
  height: 20px;
  background-color: white;
  border: 2px solid #f25a70;
  padding: 1px;
  display: flex;
  gap: 1px;
}

.score-points {
  background-color: #828282;
  width: 14px;
  height: 14px;
  text-indent: -9999px;
  overflow: hidden;
}